@import url(https://fonts.googleapis.com/css?family=Reenie+Beanie);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Blinker);

body {
    background-color: #CCE5FF;
    margin: 50px;
    border: 5px solid royalblue;
}

.container {
    background-color: #CCE6FF;
    padding: 50px 50px 50px 50px;
    border: 3px solid cornflowerblue;
    background-color: lightcyan;
}

.top {
    margin: auto;
    text-align: center;
    border-bottom: 2px solid lightslategray;
}

.paragraph {
    font-family: 'Lato', sans-serif;
    width: 60%;

}

.fancy-text {
    font-family: 'Blinker', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    padding-left: 5%;
}

#title {
    font-family: 'Reenie Beanie', sans-serif;
}

#subtitle {
    font-family: 'Lato', sans-serif;
}